.award {
  padding-top: 115px;
}

.award__name {
  font-family: var(--serif);
  font-size: 75px;
  color: var(--grey-900);
  letter-spacing: 2px;
  padding: 50px 0;
  text-transform: uppercase;
}

.award__title {
  font-family: var(--sans-serif);
  font-weight: 700;
  font-size: 22px;
  color: var(--grey-900);
  padding: 9px 0;
}

.award__subtitle {
  font-family: var(--sans-serif);
  font-size: 22px;
  color: var(--grey-600);
}

.blockquote {
  margin: 130px 0;
  position: relative;
  font-size: 22px;
  line-height: 155%;
  font-family: var(--sans-serif);
  color: var(--grey-600);
  z-index: 0;
}

.blockquote__quote {
  width: 78px;
  height: 55px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 970px) {
  .award__name {
    text-align: center;
    font-size: 60px;
  }
  .award__title {
    text-align: center;
  }
  .award__subtitle {
    text-align: center;
  }

  .award {
    margin: 0 auto;
    padding: 70px 14px 14px 14px;
    max-width: 465px;
  }
  .blockquote {
    margin: 90px 0;
  }
}
